# Ignore node_modules folder
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore build files
dist/
build/

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore coverage reports
coverage/

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore package-lock or yarn.lock if you are using only one package manager
# package-lock.json
# yarn.lock
